@model ADSL20N3.ManipulacaoStrings.Models.InputResultModel

@{
    ViewData["Title"] = "Index";

    //var result = Model == null ? string.Empty : Model.Results;
    var result = string.Empty;
    if (Model != null)
    {
        result = Model.Results;
    }
}

<h1>Index</h1>

<h4>InputResultModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InputLeft" class="control-label"></label>
                <input asp-for="InputLeft" class="form-control" />
                <span asp-validation-for="InputLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputRight" class="control-label"></label>
                <input asp-for="InputRight" class="form-control" />
                <span asp-validation-for="InputRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Results" class="control-label"></label>
                <p>@result</p>
                <span asp-validation-for="Results" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Concat" asp-action="Concat" class="btn btn-primary" />
                <input type="submit" value="Compare" asp-action="Compare" class="btn btn-primary" />
                <input type="submit" value="CompareIgnoreCase" asp-action="CompareIgnoreCase" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
